html{height:100%}body{height:100%;background:transparent;font:normal 14px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;color:#444;margin:0 auto;padding:0}.audio_player_container.has_art,.audio_player_container,.audio_player_container .audio_player{height:100%}.audio_player_container .audio_controls{margin-right:0}.audio_player_container.has_art .audio_visualizer{height:84px}.audio_player_container .audio_player.stretch_button .play_pause_container{top:0;margin:0;height:100%}.audio_player_container .audio_player.stretch_button .seek_time{padding:0}.audio_player_container .audio_player.no_scrubbing .progress_container,.audio_player_container .audio_player.no_scrubbing .seek_overlay{display:none}.audio_player_container .audio_player.overlay_toggle .audio_player_overlay{display:block}.album_art.main{min-height:100%;min-width:100%}.audio_player_container.has_art.hide_art .album_art_container{display:none}.audio_player_container.has_art.hide_art .audio_player{padding-right:0}.audio_player_container.has_visualizer.hide_visualizer .audio_controls{margin-right:0}

/*
     FILE ARCHIVED ON 21:46:07 Oct 27, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:51:49 Dec 01, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.702
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.011
  esindex: 0.014
  cdx.remote: 19.653
  LoadShardBlock: 422.398 (3)
  PetaboxLoader3.resolve: 451.666 (3)
  PetaboxLoader3.datanode: 77.355 (4)
  load_resource: 144.091
*/