

/*
     FILE ARCHIVED ON 19:42:26 Oct 27, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:45:59 Dec 01, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.581
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.014
  esindex: 0.012
  cdx.remote: 5.383
  LoadShardBlock: 123.167 (3)
  PetaboxLoader3.datanode: 79.357 (4)
  load_resource: 19.844
*/