.dragon-alphabet {
    font-family: 'dragon-alphabet', sans-serif;
}

@font-face {
    font-family: 'dragon-alphabet';
    src: url('https://raw.githubusercontent.com/posh-crouton/dovahzul-archive/main/fonts/dragon-alphabet/dragon_alphabet.ttf') format('truetype');
}