@font-face {
    font-family: 'CalligraphyDragonRunesMedium';
        src: url('/web/20161027194223im_/https://fontlibrary.org/assets/fonts/fountain-pen-dragon-runes/5ba3a47b9442df2989629e5e91fcf505/bf1a33d3ad2ec64a8b468bf411dfc773/CalligraphyDragonRunesMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'CalligraphyDragonRunes';
        src: url('/web/20161027194223im_/https://fontlibrary.org/assets/fonts/fountain-pen-dragon-runes/5ba3a47b9442df2989629e5e91fcf505/bf1a33d3ad2ec64a8b468bf411dfc773/CalligraphyDragonRunesMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }


/*
     FILE ARCHIVED ON 19:42:23 Oct 27, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:46:22 Dec 01, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.751
  exclusion.robots: 0.025
  exclusion.robots.policy: 0.011
  esindex: 0.014
  cdx.remote: 10.145
  LoadShardBlock: 91.494 (3)
  PetaboxLoader3.datanode: 69.351 (4)
  load_resource: 35.088
  PetaboxLoader3.resolve: 28.649
*/