@font-face {
    font-family: 'ComicDragonRunesBold';
        src: url('/web/20161027194223im_/https://fontlibrary.org/assets/fonts/comicdragonrunes/63e1634b914bb288e60f73e065f81101/12df7085203eaf9ba3be2da254b9048e/ComicDragonRunesBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'ComicDragonRunesMedium';
        src: url('/web/20161027194223im_/https://fontlibrary.org/assets/fonts/comicdragonrunes/63e1634b914bb288e60f73e065f81101/99175f28c5a7ade52bd31c3d1468f31c/ComicDragonRunesMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'ComicDragonRunes';
        src: url('/web/20161027194223im_/https://fontlibrary.org/assets/fonts/comicdragonrunes/63e1634b914bb288e60f73e065f81101/12df7085203eaf9ba3be2da254b9048e/ComicDragonRunesBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'ComicDragonRunes';
        src: url('/web/20161027194223im_/https://fontlibrary.org/assets/fonts/comicdragonrunes/63e1634b914bb288e60f73e065f81101/99175f28c5a7ade52bd31c3d1468f31c/ComicDragonRunesMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }


/*
     FILE ARCHIVED ON 19:42:23 Oct 27, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:46:50 Dec 01, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 2.699
  exclusion.robots: 0.016
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 33.461
  LoadShardBlock: 1165.905 (3)
  PetaboxLoader3.datanode: 1113.535 (4)
  PetaboxLoader3.resolve: 87.926 (2)
  load_resource: 62.669
*/